<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GithubSearchDB"
         connectionString="Server=tcp:wrctba.database.windows.net,1433;Initial Catalog=GitHubSearch;Persist Security Info=False;User ID=wrctba;Password=$Gremio1903;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

  </system.web>
</configuration>
