<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GithubSearchDB"
         connectionString="Data Source=DESKTOP-90KCU0H\SQLEXPRESS;Initial Catalog=GithubSearch;Integrated Security=True;Pooling=False" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

  </system.web>
</configuration>
